* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: unset !important;
}
body{
    background-color: #CCCCCC !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header rules */
header{
    display: flex;
    justify-content: center;
}

.header-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first-header-container{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #961224;
}

.first-header-container img{
    width: 85px;
}

.login a {
    padding: 7px 30px;
    border: transparent;
    background-color: #7B0F1D;
    color: white !important;
}

.second-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding: 5px 10px;
    height: 50px;
    background-color: #680D19;
    color: white;
}

nav{
    display: flex !important;
    align-items: center;
    gap: 20px;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

nav img{
    width: 20px;
    height: 20px;
}

nav .nav-item h4{
    font-size: 16px;
    margin-bottom: 0;
}

.social-link{
    display: flex;
    gap: 10px;
}

.social-container{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
}

.social-container img{
    height: 20px;
    width: 20px;
}

.social-container.facebook{
    background-color: #38529A;
}

.social-container.instagram{
    background-color: #E56969;
}

.social-container.twitter{
    background-color: #1BB1E4;
}

/* Main */
main{
    /* min-height: 80vh; */
    position: relative;
}

.container{
    width: 1200px !important;
    background-color: white;
    height: 100%;
    padding-top: 80px;
}

/* Searchbar */
.wrap{
    width: 25%;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.searchTerm {
    width: 100%;
    border: 3px solid #961224;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: black;
}
  
.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 36px;
    padding: 4px 7px;
    border: 1px solid #961224;
    background: #961224;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* Card Container */
.card-container{
    border: 3px solid #961224;
    margin: 30px 10px;
    padding: 45px 25px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.card{
    width: 18%;
    aspect-ratio: 3/5;
    display: flex;
    flex-direction: column;
    border: 1px solid #b02c3d !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    overflow: hidden;
    box-shadow: 5px 5px 10px 2px rgb(81, 78, 78);
    transition: 0.4s all ease-in-out;
}

.card:hover{
    scale: 1.1;
}

.card-img{
    height: 75%;
}

.card-description{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b02c3d;
    height: 25%;
    width: 100%;
}

.card-description p{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    color: white;
}

#admin-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#admin-line nav ul li img {
    cursor: pointer;
    margin-left: 5px;
    border-radius: 100rem;
    border: 1px solid black;
    justify-self: center;
}


#admin-line nav .drop-down {
    border-radius: 5px;
    border: 3px solid black;
    list-style: none;
    overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
    height: 172px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
    background-color: whitesmoke;
    font-family: Arial;
    width: 100px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

#admin-line nav .drop-down.closed {
    height: 43px;
}

#admin-line nav {
    justify-self: center;
    align-self: center;
    top: 10px;
}

#admin-line nav .drop-down li {
    border-bottom: 5px solid;
    border-color: rgb(164, 164, 164);
}

#admin-line nav .drop-down li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px; /* Larger touch target area */
}

#admin-line nav .drop-down li:first-child a:after {
    content: "\25BC";
    float: right;
    margin-left: -30px; /* Excessive -margin to bring link text back to center */
    margin-right: 5px;
}
/* Footer */
footer{
    background-color: #333333;
    color: rgba(255, 255, 255, 0.605);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-first-container{
    width: 1200px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-first-container h2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.858);
    margin-bottom: 0;
}

.footer-second-container{
    width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-second-container p{
    font-size: 12px;
    margin-bottom: 0;
}

.footer-second-container p span{
    color: rgba(255, 255, 255, 0.858);
}