* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    cursor: default;
    text-shadow: 2px 2px 2px lightgray;
    width: max-content;
    height: min-content;
}

h2 {
    cursor: default;
    text-shadow: 2px 2px 2px lightgray;
    width: max-content;
    height: min-content;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

.modal.hidden {
    display: none;
}

.modal.visible {
    display: block;
    opacity: 100;
    position: absolute;
    z-index: 1;
    padding: 20px;
    margin-top: 4%;
    margin-left: 0;
    width: 100%;
    height: 90%;
    box-shadow: 0px 0px 20px 20px lightgray;
    overflow: none;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: all 0.5s linear;
}

.modal.visuallyhidden {
    opacity: 0;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


#container {
    margin-left: 1%;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    height: 100vh;
    grid-template-rows: 100%;
    position: fixed;
    width: 100vw;
}

#logo {
    width: 150px;
    height: 150px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.nav-link {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
    margin-bottom: 2px;
    height: 40px;
    transition: 0.3s all;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-left: 5px solid transparent;
}

    .nav-link.active {
        border-left: 5px solid rgb(115, 64, 255);
        padding-left: 5px;
        background: linear-gradient(to right, rgb(194, 172, 255), rgb(230, 220, 255));
    }

#Dashboard {
    height: 100vh;
    z-index: 1;
    left: 0px;
    z-index: 0;
    transition: 1.8s all;
    position: relative;
}

    #Dashboard.hidden {
        position: relative;
        transform: translateX(-150%);
        z-index: -100;
    }
/*~*/
#RentList.hidden {
    /* z-index: -1; */
    position: absolute;
    /* top: unset; */
    /* left: 88px; */
    float: left;
    transform: translateX(150%);
}

#RentList {
    width: 64%;
    height: 100vh;
    top: 0px;
    position: absolute;
    transform: translateX(0px);
    transition: 1.8s all
}

#Magazine.hidden {
    /* z-index: -1; */
    position: absolute;
    /* top: unset; */
    /* left: 88px; */
    float: left;
    transform: translateX(150%);
}

#Magazine {
    width: 64%;
    height: 100vh;
    top: 0px;
    position: absolute;
    transform: translateX(0px);
    transition: 1.8s all
}

#Employee.hidden {
    /* z-index: -1; */
    position: absolute;
    /* top: unset; */
    /* left: 88px; */
    float: left;
    transform: translateX(150%);
}

#Employee {
    width: 63%;
    height: 100vh;
    top: 0px;
    position: absolute;
    transform: translateX(0px);
    transition: 1.8s all
}

.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
}

    .custom-field input {
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        padding: var(--field-padding);
        border-radius: 3px;
        width: 250px;
        outline: none;
        font-size: 14px;
        border: 2px solid #ddd;
        transition: border-color 0.3s ease;
    }

    .custom-field .placeholder {
        position: absolute;
        left: var(--field-padding);
        width: calc(100% - (var(--field-padding) * 2));
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        top: 22px;
        line-height: 100%;
        transform: translateY(-50%);
        color: #aaa;
        transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    }

    .custom-field input + .placeholder {
        left: 8px;
        padding: 0 5px;
    }

    .custom-field input.dirty,
    .custom-field input:not(:placeholder-shown),
    .custom-field input:focus {
        border-color: #222;
        transition-delay: 0.1s
    }

        .custom-field input.dirty + .placeholder,
        .custom-field input:not(:placeholder-shown) + .placeholder,
        .custom-field input:focus + .placeholder {
            top: 0;
            font-size: 12px;
            color: #222;
            background: #fff;
            width: auto
        }

#Employee:not(.hidden) ~ #Magazine.hidden ~ #RentList.hidden {
    position: absolute;
    transform: translateX(-150%);
}

main {
    display: grid;
    grid-template-rows: 5% 5% 32% 45% 5%;
    row-gap: 2%;
    grid-template-columns: 100%;
    height: 97%;
}

#date {
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    width: 20%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    width: 32px;
    height: 32px;
    align-self: center;
}

.graph-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
}

.graph-data-container {
    border-radius: 30px;
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 5px 5px lightgray;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    padding: 25px;
}

.graph-data {
    display: grid;
    grid-template-rows: 48px auto 5%;
    row-gap: 8%;
}

.arrow-right {
    justify-self: end;
    cursor: pointer;
}

.icons-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 100rem;
    background-color: rgb(105, 105, 224);
}

.graph {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

table {
    border-radius: 20px;
    height: 100%;
    background-color: rgb(248, 248, 248);
    box-shadow: 5px 5px 5px whitesmoke;
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: space-between;
    padding: 2px;
    border-spacing: 30px;
    overflow-y: scroll;
}

tbody {
    padding: 4px;
}

th {
    align-content: flex-start;
}

tr {
    border-bottom: 2px solid black;
}

td {
    color: gray;
    font-size: 14px;
    min-width: 24px;
}

.edit-book {
    width: 24px;
}

.delete-book {
    width: 24px;
}

.transition-Container {
    display: grid;
    grid-template-rows: 5% 5% auto 2%;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 85%;
}

#admin-line {
    align-self: flex-end;
    justify-self: end;
    display: flex;
    justify-items: center;
    align-items: center;
}

    #admin-line nav ul li img {
        cursor: pointer;
        margin-left: 5px;
        border-radius: 100rem;
        border: 1px solid black;
        justify-self: center;
    }


    #admin-line nav .drop-down {
        border-radius: 5px;
        border: 3px solid black;
        list-style: none;
        overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
        height: 172px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
        background-color: whitesmoke;
        font-family: Arial;
        width: 100px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        -webkit-transition: height 0.3s ease;
        transition: height 0.3s ease;
    }

        #admin-line nav .drop-down.closed {
            height: 43px;
        }

    #admin-line nav {
        position: fixed;
        justify-self: center;
        align-self: center;
        top: 10px;
    }

        #admin-line nav ul {
            position: absolute;
        }

        #admin-line nav .drop-down li {
            border-bottom: 5px solid;
            border-color: rgb(164, 164, 164);
        }

            #admin-line nav .drop-down li a {
                display: block;
                color: black;
                text-decoration: none;
                padding: 10px; /* Larger touch target area */
            }

            #admin-line nav .drop-down li:first-child a:after {
                content: "\25BC";
                float: right;
                margin-left: -30px; /* Excessive -margin to bring link text back to center */
                margin-right: 5px;
            }

.card-container {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background: whitesmoke;
    border-radius: 15px;
    box-shadow: 5px 15px 20px lightgrey;
    display: grid;
    grid-template-columns: 22.75% 22.75% 22.75% 22.75%;
    column-gap: 3%;
    row-gap: 10%;
    justify-items: center;
    padding: 20px;
}

.card {
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: 80% 20%;
    height: 400px;
    align-self: center;
    background-color: lightgray;
    transition: 0.3s all;
}

    .card:hover {
        scale: 1.1;
        box-shadow: 5px 5px 5px #BFBFBF;
    }

.card-description {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b02c3d;
    width: 100%;
}

    .card-description p {
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        padding: 10px;
        color: white;
    }

.transitions {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15%;
    row-gap: 5%;
    overflow-y: scroll;
}

.transition {
    padding: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    border-radius: 20px;
    background-color: whitesmoke;
}

    .transition div {
        display: grid;
        grid-template-rows: 80% 20%;
    }

.bookToAdd {
    display: grid;
    grid-template-rows: 10% auto auto;
    align-items: center;
    grid-row-gap: 30%;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.special-button {
    border-color: #cccccc;
    width: 200px;
    display: inline-block;
    padding: .5rem 0.6rem;
    border-radius: 8px;
    color: black;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

    .special-button::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F8F7F7;
        border-radius: 8px;
        z-index: -2;
    }

    .special-button::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #aacbe9;
        transition: all .3s;
        border-radius: 8px;
        z-index: -1;
    }

    .special-button.red::before {
        background-color: #c33b32;
    }

    .special-button:hover {
        color: black;
    }

        .special-button:hover::before {
            width: 100%;
        }

::-webkit-scrollbar {
    width: 5px;
    height: 10%;
    right: 30px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece:start {
    background-color: transparent;
    margin-top: 10px;
    right: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: solid 3px transparent;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(25, 177, 227);
    border-radius: 100rem;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: blue;
    }
