* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

body{
    background-color: #CCCCCC !important;
}

/* Header rules */
header{
    display: flex;
    justify-content: center;
}

.header-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first-header-container{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #961224;
}

.first-header-container img{
    width: 85px;
}

.login a{
    padding: 7px 30px;
    border: transparent;
    background-color: #7B0F1D;
    color: white !important;
}

.second-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding: 5px 10px;
    height: 50px;
    background-color: #680D19;
    color: white;
}

nav{
    display: flex !important;
    align-items: center;
    gap: 20px;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

nav img{
    width: 20px;
    height: 20px;
}

nav .nav-item h4{
    font-size: 16px;
    margin-bottom: 0;
}

.social-link{
    display: flex;
    gap: 10px;
}

.social-container{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
}

.social-container img{
    height: 20px;
    width: 20px;
}

.social-container.facebook{
    background-color: #38529A;
}

.social-container.instagram{
    background-color: #E56969;
}

.social-container.twitter{
    background-color: #1BB1E4;
}

/* Our-Info Section */
main{
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

#our-info{
    width: 1200px;
    display: flex;
    background-color: white;
}

.carousel-container{
    width: 65%;
}

.carousel-item img{
    height: 450px;
    image-rendering: optimizeQuality;    
}

.carousel-control-prev, .carousel-control-next{
    border: none;
    background-color: transparent;
}

.library-info{
    padding: 30px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.library-info h2{
    font-size: 18px;
    font-weight: 700;
}

.library-info h3 span{
    font-weight: 700;
}

.library-info h3{
    font-size: 16px;
    margin-bottom: 35px;
}

.library-info p{
    font-size: 16px;
    margin-bottom: 0;
}

.library-info span img{
    width: 20px;
    height: 20px;
}

/* More-Rented & Book-News Section */
#more-rented, #book-news{
    width: 1200px;
    background-color: white;
}

.more-rented-container h1,
.book-news-container h1{
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    color: #961224;
    border-bottom: 4px solid #961224;
    margin-bottom: 0;
}

.card-container{
    padding: 25px 35px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
    background-color: #ab3444eb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card{
    width: 17%;
    height: 220px;
    position: relative;
    border-radius: 3px;
    border: 1px solid #961224;
    box-shadow: 10px 10px 10px #8a0f1f;
    transition: 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0px 0px 15px 15px #8a0f1f;
}

.card img{
    height: 70%;
}

.card-description {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b02c3d;
    height: 25%;
    width: 100%;
}

.card p{
    color: white;
    position: absolute;
    left: -30px;
    top: -1px;
    font-size: 20px;
    background-color: #8a0f1f;
    height: 35px;
    width: 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h3 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 10px;
    color: white;
}

/* Footer */
footer{
    background-color: #333333;
    color: rgba(255, 255, 255, 0.605);
}

.footer-first-container{
    width: 1200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-first-container h2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.858);
    margin-bottom: 0;
}

.footer-second-container{
    width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-second-container p{
    font-size: 12px;
    margin-bottom: 0;
}

.footer-second-container p span{
    color: rgba(255, 255, 255, 0.858);
}