@model NationalLibrary.FinalViews.UserFinalView

@{
    var parms = new Dictionary<string, string>
            {
                { Model.Username, Model.Password },
            };
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a href="#">
                <img class="img-nav" src="~/img/LogoFinale.svg" alt="">
            </a>

            <div>
                <h2>Inserimento dipendenti</h2>
            </div>
            <button class="dashboard" asp-action="dashboard" asp-controller="Home" asp-all-route-data="parms">Dashboard</button>
        </div>
    </header>

    <!-- Inizio Main -->
    <main>
        <div class="form-container">
            <div class="container-left">
                <img class="mainBackground" src="~/img/librarianBackground.svg" alt="">
            </div>

            <div class="container-right">
                <form action="post" method="post">
                    <div class="form-data">
                        <!-- Nome -->
                        <div class="inputContainer">
                            <label for="name">Nome </label>
                            <div>
                                <input required minlength="2" maxlength="20" placeholder="Nome" type="text" name="name">
                            </div>
                        </div>
                        <!-- Cognome -->
                        <div class="inputContainer">
                            <label for="surname">Cognome </label>
                            <div>
                                <input required minlength="2" maxlength="25" placeholder="Cognome" type="text" name="surname">
                            </div>
                        </div>
                        <!-- Data Nascita -->
                        <div class="inputContainer">
                            <label for="name">Data Nascita</label>
                            <div>
                                <input type="date" name="birthday">
                            </div>
                        </div>
                        <!-- Città Di Residenza -->
                        <div class="inputContainer">
                            <label for="surname">Città Di Residenza</label>
                            <div>
                                <input required minlength="2" maxlength="25" placeholder="Ciità Di Residenza" type="text" name="birthPlace">
                            </div>
                        </div>
                        <!-- Indirizzo Di Residenza -->
                        <div class="inputContainer">
                            <label for="surname">Indirizzo Di Residenza</label>
                            <div>
                                <input required minlength="2" maxlength="25" placeholder="Indrizzo Di Residenza" type="text" name="residenceAddress">
                            </div>
                        </div>
                        <!-- CAP Di Residenza -->
                        <div class="inputContainer">
                            <label for="surname">CAP</label>
                            <div>
                                <input required maxlength="5" minlength="5" placeholder="CAP" type="text" name="postalCode">
                            </div>
                        </div>
                        <!-- Provincia Di Residenza -->
                        <div class="inputContainer">
                            <label for="surname">Provincia</label>
                            <div>
                                <input required minlength="10" placeholder="Provincia" type="text" name="birthPlace">
                            </div>
                        </div>
                        <!-- Numero Documento -->
                        <div class="inputContainer">
                            <label for="surname">Numero Documento</label>
                            <div>
                                <input required maxlength="9" minlength="9" placeholder="Provincia" type="text" name="documentNumber">
                            </div>
                        </div>
                        <!-- Tipo Di Documento -->
                        <div class="inputContainer">
                            <label for="surname">Tipo Di Documento</label>
                            <div>
                                <input required minlength="20" maxlength="45" placeholder="Tipo Di Documento" type="text" name="documentType">
                            </div>
                        </div>
                        <!-- Rilasciato Da -->
                        <div class="inputContainer">
                            <label for="surname">Rilasciato Da</label>
                            <div>
                                <input required minlength="10" maxlength="25" placeholder="Rilasciato Da" type="text" name="releasedBy">
                            </div>
                        </div>
                        <!-- Scadenza -->
                        <div class="inputContainer">
                            <label for="surname">Scadenza</label>
                            <div>
                                <input required type="date" name="expireOn">
                            </div>
                        </div>
                        <!-- Numero Di Telefono -->
                        <div class="inputContainer">
                            <label for="surname">Numero Di Telefono</label>
                            <div>
                                <input required maxlength="15" minlength="11" placeholder="Numero Di Telefono" type="text" name="phoneNumber">
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="inputContainer">
                            <label for="surname">Email</label>
                            <div>
                                <input required placeholder="Email" type="email" name="emailAddress">
                            </div>
                        </div>
                        <!-- Default Username -->
                        <div class="inputContainer">
                            <label for="surname">Default Username</label>
                            <div>
                                <input required placeholder="Username" type="text" name="defaultUsername">
                            </div>
                        </div>
                        <!-- Default Password -->
                        <div class="inputContainer">
                            <label for="surname">Default Password</label>
                            <div>
                                <input required minlength="8" placeholder="Password" type="password" name="defaultPassword">
                            </div>
                        </div>
                        <!-- Submit -->
                        <div class="inputContainer item-center">
                            <Button class="special-button" type="submit" name="submitEmployee">Aggiungi</Button>
                        </div>
                    </div>
                    <img src="~/img/Librarian.svg" />
                </form>
            </div>
        </div>
    </main>
</body>
