

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dashboard.css">
    <link href="~/fontawesome/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/fontawesome/font-awesome/css/brands.css" rel="stylesheet">
    <link href="~/fontawesome/font-awesome/css/solid.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>




    <div id="container">
        <div id="navbar">
            <img id="logo" src="~/img/LogoFinale.svg" alt="" srcset="">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <div class="row">
                    <a class="navbar-brand"> </a>
                    <form class="form-inline">
                    </form>
                </div>
                <div class="row"></div>
            </nav>
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#Dashboard" id="dashboard" onclick="addClass('dashboard')">
                                <img width="24px" style="margin-right: 4px;" height="24px" src="~/svgs/regular/house.svg"
                                     alt="" srcset="">
                                Dashboard <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="magazine" href="#Magazine" onclick="addClass('magazine')">
                                <img src="~/svgs/regular/store.svg" style="margin-right: 4px;" width="24px" alt=""
                                     srcset="">
                                Magazzino
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="icons" style="margin-right: 4px; width: 24px; height: 24px;"
                                     src="~/svgs/regular/user-plus.svg" alt="" srcset="">
                                Aggiungi dipendente
                            </a>
                        </li>
                        </h6>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="pagesContainer" style="max-width: 100vw;">
            <div id="Dashboard">
                <!-- Popup -->
                <div id="popupBooks" class="modal hidden">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="showData('books')">&times;</span>
                        <div class="table-container" style="overflow-y: scroll; height: 50%;">
                            <h2 id="waiting-list">Libri Noleggiati</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>Codice Fiscale</th>
                                    <th>Nome Utente</th>
                                    <th>Cognome Utente</th>
                                    <th>Numero</th>
                                    <th>Email Utente</th>
                                    <th>ISBN</th>
                                    <th>Titolo Libro</th>
                                    <th>Richiesto Il</th>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>
                <div id="popupUsers" class="modal hidden">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="showData('users')">&times;</span>
                        <div class="table-container" style="overflow-y: scroll; height: 50%;">
                            <h2 id="waiting-list">Nuovi Utenti</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>Codice Fiscale</th>
                                    <th>Nome Utente</th>
                                    <th>Cognome Utente</th>
                                    <th>Numero</th>
                                    <th>Email Utente</th>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>
                <div id="popupBuyedBooks" class="modal hidden">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="showData('buyedBooks')">&times;</span>
                        <div class="table-container" style="overflow-y: scroll; height: 50%;">
                            <h2 id="waiting-list">Libri Noleggiati</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>ISBN</th>
                                    <th>Autore</th>
                                    <th>Titolo Libro</th>
                                    <th>Richiesto Il</th>
                                    <th>Arrivato Il</th>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- Inizio Main -->
                <main>
                    <h1 style="margin-top: 2px;">Dashboard</h1>

                    <h2 id="date">
                        gg/mm/yyyy<img class="icons" style="margin: 4px;" src="~/svgs/solid/calendar-days.svg"
                                       alt="" srcset="">
                    </h2>
                    <div class="graph-container">
                        <div class="graph-data-container">
                            <div class="graph-data">
                                <div class="icons-chart">
                                    <img class="icons"
                                         style="margin: 4px;  width: 24px; height: 24px;"
                                         src="~/svgs/regular/chart-bar.svg" alt="" srcset="">
                                </div>
                                <div class="data-info">
                                    <h4>Libri Noleggiati</h4>
                                    <h2 style="margin-top: 20px;">70</h2>
                                </div>
                                <h5 style="color: lightgray;">Ultimo mese</h5>
                            </div>
                            <div class="graph-data">
                                <div class="arrow-right">
                                    <img onclick="showData('books')" id="books" src="svgs/solid/arrow-right-long.svg"
                                         width="16px" alt="" srcset="">
                                </div>
                                <div class="graph">
                                    <div class="graph" style="background-color: white; width: 60px; height: 60px;">
                                        <h3>4%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-data-container">
                            <div class="graph-data">
                                <div class="icons-chart" style="background-color: rgb(224, 115, 115);">
                                    <img class="icons" style="margin: 4px;  width: 24px; height: 24px;"
                                         src="~/svgs/regular/chart-bar.svg" alt="" srcset="">
                                </div>
                                <div class="data-info">
                                    <h4>Utenti Iscritti</h4>
                                    <h2 style="margin-top: 20px;">70</h2>
                                </div>
                                <h5 style="color: lightgray;">Ultimo mese</h5>
                            </div>
                            <div class="graph-data">
                                <div class="arrow-right">
                                    <img onclick="showData('users')" id="users" src="svgs/solid/arrow-right-long.svg"
                                         width="16px" alt="" srcset="">
                                </div>
                                <div class="graph" style="background-color: rgb(224, 115, 115);">
                                    <div class="graph" style="background-color: white; width: 60px; height: 60px;">
                                        <h3>4%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-data-container">
                            <div class="graph-data">
                                <div class="icons-chart" style="background-color: rgb(95, 201, 95);">
                                    <img class="icons"
                                         style="margin: 4px;  width: 24px; height: 24px;"
                                         src="~/svgs/regular/chart-bar.svg" alt="" srcset="">
                                </div>
                                <div class="data-info">
                                    <h4>Libri comprati</h4>
                                    <h2 style="margin-top: 20px;">70</h2>
                                </div>
                                <h5 style="color: lightgray;">Ultimo mese</h5>
                            </div>
                            <div class="graph-data">
                                <div class="arrow-right">
                                    <img onclick="showData('buyedBooks')" id="buyedBooks"
                                         src="svgs/solid/arrow-right-long.svg" width="16px" alt="" srcset="">
                                </div>
                                <div class="graph" style="background-color: rgb(95, 201, 95);">
                                    <div class="graph" style="background-color: white; width: 60px; height: 60px;">
                                        <h3>4%</h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="table-container">
                        <h2 id="waiting-list">Lista D'Attesa</h2>
                        <table>
                            <tr>
                                <th>Codice Fiscale</th>
                                <th>Nome Utente</th>
                                <th>Cognome Utente</th>
                                <th>Numero</th>
                                <th>Email Utente</th>
                                <th>ISBN</th>
                                <th>Titolo Libro</th>
                                <th>Richiesto Il</th>
                            </tr>
                        </table>

                    </div>
                </main>


            </div>
            <div id="Magazine" class="hidden">
                <!-- Popup -->
                <!-- Inizio Main -->
                <main>
                    <h1 style="margin-top: 2px;">Magazzino</h1>

                    <h2 id="date">
                        gg/mm/yyyy<img class="icons" style="margin: 4px;" src="~/svgs/solid/calendar-days.svg"
                                       alt="" srcset="">
                    </h2>
                    <div class="graph-container">
                        <div class="graph-data-container">
                            <div class="graph-data">
                                <div class="icons-chart">
                                    <img class="icons"
                                         style="margin: 4px;  width: 24px; height: 24px;"
                                         src="~/svgs/regular/chart-bar.svg" alt="" srcset="">
                                </div>
                                <div class="data-info">
                                    <h4>Libri Noleggiati</h4>
                                    <h2 style="margin-top: 20px;">70</h2>
                                </div>
                                <h5 style="color: lightgray;">Ultimo mese</h5>
                            </div>
                            <div class="graph-data">
                                <div class="arrow-right">
                                    <img onclick="showData('books')" id="books" src="svgs/solid/arrow-right-long.svg"
                                         width="16px" alt="" srcset="">
                                </div>
                                <div class="graph">
                                    <div class="graph" style="background-color: white; width: 60px; height: 60px;">
                                        <h3>4%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-data-container">
                            <div class="graph-data">
                                <div class="icons-chart" style="background-color: rgb(224, 115, 115);">
                                    <img class="icons" style="margin: 4px;  width: 24px; height: 24px;"
                                         src="~/svgs/regular/chart-bar.svg" alt="" srcset="">
                                </div>
                                <div class="data-info">
                                    <h4>Utenti Iscritti</h4>
                                    <h2 style="margin-top: 20px;">70</h2>
                                </div>
                                <h5 style="color: lightgray;">Ultimo mese</h5>
                            </div>
                            <div class="graph-data">
                                <div class="arrow-right">
                                    <img onclick="showData('users')" id="users" src="svgs/solid/arrow-right-long.svg"
                                         width="16px" alt="" srcset="">
                                </div>
                                <div class="graph" style="background-color: rgb(224, 115, 115);">
                                    <div class="graph" style="background-color: white; width: 60px; height: 60px;">
                                        <h3>4%</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-data-container">
                            <div class="graph-data">
                                <div class="icons-chart" style="background-color: rgb(95, 201, 95);">
                                    <img class="icons"
                                         style="margin: 4px;  width: 24px; height: 24px;"
                                         src="~/svgs/regular/chart-bar.svg" alt="" srcset="">
                                </div>
                                <div class="data-info">
                                    <h4>Libri comprati</h4>
                                    <h2 style="margin-top: 20px;">70</h2>
                                </div>
                                <h5 style="color: lightgray;">Ultimo mese</h5>
                            </div>
                            <div class="graph-data">
                                <div class="arrow-right">
                                    <img onclick="showData('buyedBooks')" id="buyedBooks"
                                         src="svgs/solid/arrow-right-long.svg" width="16px" alt="" srcset="">
                                </div>
                                <div class="graph" style="background-color: rgb(95, 201, 95);">
                                    <div class="graph" style="background-color: white; width: 60px; height: 60px;">
                                        <h3>4%</h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="table-container">
                        <h2 id="waiting-list">Lista D'Attesa</h2>
                        <table>
                            <tr>
                                <th>Codice Fiscale</th>
                                <th>Nome Utente</th>
                                <th>Cognome Utente</th>
                                <th>Numero</th>
                                <th>Email Utente</th>
                                <th>ISBN</th>
                                <th>Titolo Libro</th>
                                <th>Richiesto Il</th>
                            </tr>
                        </table>

                    </div>
                </main>


            </div>
        </div>
        <div id="pippo">
        </div>
    </div>
    <script>
        var books = document.getElementById("popupBooks");
        var users = document.getElementById("popupUsers");
        var popupbuyedBooks = document.getElementById("popupBuyedBooks");
        function addClass(navItem) {
            if (navItem == "magazine") {
                dashboard.classList.remove("active");
                magazine.classList.add("active");
                document.getElementById("Dashboard").classList.add("hidden");
                document.getElementById("Magazine").classList.remove("hidden");
            }
            else {
                magazine.classList.remove("active");
                dashboard.classList.add("active");
                document.getElementById("Dashboard").classList.remove("hidden");
                document.getElementById("Magazine").classList.add("hidden");
            }
        }
        function hideData(dataToHide) {
            dataToHide.classList.add('visuallyhidden');
            dataToHide.addEventListener('transitionend', function (e) {
                dataToHide.classList.add('hidden');
                dataToHide.classList.remove('visible');
            }, {
                capture: false,
                once: true,
                passive: false
            }, false);

        }
        function showData(dataToShow) {
            document.getElementById("container").disabled = true;
            console.log(document.getElementById("container"))
            console.log(dataToShow);
            switch (dataToShow) {
                case "books":
                    if (books.classList.contains("hidden") == true) {
                        books.classList.remove('hidden');
                        books.classList.add('visible');
                        setTimeout(function () {
                            books.classList.remove('visuallyhidden');
                        }, 20);
                    }
                    else {
                        hideData(books);
                    }
                    break;
                case "users":
                    if (users.classList.contains("hidden") == true) {
                        users.classList.remove('hidden');
                        users.classList.add('visible');
                        setTimeout(function () {
                            users.classList.remove('visuallyhidden');
                        }, 20);
                    }
                    else {
                        hideData(users);
                        // this.style.filter = blur('4px');
                    }
                    break;
                case "buyedBooks":
                    if (popupbuyedBooks.classList.contains("hidden") == true) {
                        popupbuyedBooks.classList.remove('hidden');
                        popupbuyedBooks.classList.add('visible');
                        setTimeout(function () {
                            popupbuyedBooks.classList.remove('visuallyhidden');
                        }, 20);
                    }
                    else {
                        hideData(popupbuyedBooks);
                    }
                    break;
            }
        }
        var arrowbooks = document.getElementById("books");
        var arrowUsers = document.getElementById("users");
        var arrowbuyedBooks = document.getElementById("buyedBooks");
                    // window.onclick = function (event) {
                    //     console.log(document.getElementById("popupBooks").classList.contains("hidden"))
                    //     console.log(arrowbooks)
                    //     if (event.target != arrowbooks && event.target != document.getElementById("popupBooks") && document.getElementById("popupBooks").classList.contains("hidden") == false) {
                    //         hideData("books")
                    //     }
                    //     if (event.target != arrowbooks && event.target != document.getElementById("popupUsers") && document.getElementById("popupUsers").classList.contains("hidden") == false) {
                    //         hideData("users")
                    //     }
                    //     if (event.target != arrowbuyedbooks && event.target != document.getElementById("popupBuyedBooks") && document.getElementById("popupBuyedBooks").classList.contains("hidden") == false) {
                    //         hideData("buyedBooks")
                    //     }
                    // }
    </script>
</body>
