@model NationalLibrary.FinalViews.UserFinalView

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/loginPage.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="~/img/BackgroundUserLogin.svg" alt="">
        <div class="formContainer">
            <form asp-action="dashboard" asp-controller="Home" method="post">
                <img src="~/img/loginIcon.png" alt="">
                <label class="custom-field">
                    <input asp-for="@Model.Username" type="text" placeholder=" " />
                    <span class="placeholder">Inserisci Username</span>
                </label>

                <label class="custom-field">
                    <input asp-for="@Model.Password" type="password" placeholder=" " />
                    <span class="placeholder">Inserisci Password</span>
                </label>
                <Button class="special-button" type="submit" name="submitEmployee">Accedi</Button>
                @if (ViewData["Message"] != null)
                {
                    <div id="popupdiv" style="border: none; display: none;">
                        @ViewData["Message"]
                    </div>
                }
            </form>
        </div>
    </div>
    
    <script type="text/javascript">
        window.onload = async () => {
            var popup = document.getElementById("popupdiv");
            if (popup.innerHTML != '') {
                 popup.style.display = 'block';
                 await setTimeout(() => {
                    popup.style.display = 'none';
                 }, 5000);
            }
        }
    </script>
</body>